" general settings
set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling
" set relativenumber
" Emulated Plugins
set surround
" Copy to system clipboard as well
set clipboard+=unnamedplus
" Use Idea to join lines smartly
set ideajoin
" Multiple cursors support
set multiple-cursors

set visualbell
set showmode
set showcmd
set ideavimsupport
set highlightedyank
" autocmd FocusLost * call feedkeys("\<esc>")

" IdeaVim uses 'a' for alt instead of Vim's 'm'
nmap <a-j> 15gj
nmap <a-k> 15gk

" ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
" key binding 
" ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

nmap K :action MethodUp<cr>
nmap J :action MethodDown<cr>

" set leader key
let mapleader = " "

" faster 
nmap <leader>q :action CloseEditor<cr>
nmap <leader>Q :action CloseAllEditors<cr>
nmap <leader>w :action SaveAll<cr>
nmap <leader>x :wq<cr>
nmap <leader>X :wQ<cr>


" Windows and Navigation
nmap <leader>b :action RecentFiles<cr>
nmap <leader>a :action RecentChangedFiles<cr>
nmap <leader>nf :action GotoFile<cr>
nmap <leader>nc :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>no :action SelectIn<cr>
nmap <leader>nb :action ShowBookmarks<cr>
nmap <leader>nl :action RecentLocations<cr>
nmap <leader>m :action HideAllWindows<cr>
nmap <leader>sv :action SplitVertically<cr>
nmap <leader>ss :action SplitHorizontally<cr>
nmap <leader>sn :action NextSplitter<cr>
nmap <leader>sp :action PrevSplitter<cr>
nmap <leader>su :action Unsplit<cr>
nmap <leader>sq :action UnsplitAll<cr>

" code actions
nmap <leader>f :action ReformatCode<cr>
nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gu :action FindUsages<cr>
nmap <leader>gp  :action Back<cr> 
nmap <leader>gn :action Forward<cr>


" Errors
nmap <leader>eh :action ShowErrorDescription<cr>
nmap <leader>ep :action GotoPreviousError<cr>
nmap <leader>en :action GotoNextError<cr>

" Refactorings
vmap T :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>ri :action OptimizeImports<cr>


" Search
nmap / :action Find<cr>
nmap <leader>\ :action FindInPath<cr>

" comments
nmap <leader>c :action CommentByLineComment<cr>
nmap <leader>C :action CommentByBlockComment<cr>
vmap <leader>c :action CommentByLineComment<cr>
vmap <leader>C :action CommentByBlockComment<cr>

" VCS operations
nmap <leader>yy :action Vcs.Show.Local.Changes<cr>
nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
nmap <leader>ya :action Annotate<cr>
nmap <leader>yl :action Vcs.Show.Log<cr>
nmap <leader>yd :action Compare.LastVersion<cr>
nmap <leader>yr :action Git.ResolveConflicts<cr>
